.mast {
	background-image:    url(../img/home/mast.jpg);
    background-size:     cover;          
    background-repeat:   no-repeat;
    background-position: center center;  
    color: $white;   
    margin-bottom: rem-calc(85);
    position: relative;
	.align-middle {
		height: rem-calc(450);
		@include breakpoint(medium up) {
			height: rem-calc(600);
		    z-index: 99999;
			position: relative;
		}
	}
	form {
		@include breakpoint(small only) {
			width: 80%;
		}
		width: 30%;
		margin: auto;
		margin-top: rem-calc(25);
	}
	.small-12 {
		@include breakpoint(small only) {
			margin-top: rem-calc(100);
		}
	}
	input {
		background: none;
		border: 2px solid $white;
		border-right: none!important;
		height: 42.47px;
		color: $white;
		font-weight: bold;
		&:focus {
			background: none;
			outline: none;
			border: 2px solid $white;
		}
		&::-webkit-input-placeholder {
		   color: #FFFFFF;
		}
		
		&:-moz-placeholder { /* Firefox 18- */
		   color: #FFFFFF;  
		}
		
		&::-moz-placeholder {  /* Firefox 19+ */
		   color: #FFFFFF;  
		}
		
		&:-ms-input-placeholder {  
		   color: #FFFFFF;  
		}
	}
	button {
		width: 100%;
		background: none;
		border: 2px solid $white;
		border-left: none;
		&:hover {
			background: none;
		}
	}
	.line-vert {
		position: absolute;
		right: 10%;
		bottom: rem-calc(-150);
	}
}

.intro {
	h2 {
		font-weight: bold;
		margin-bottom: rem-calc(60);
	}
	.line-horiz {
		width: 100%;
		height: rem-calc(20);
	}
	.line-vert {
		float: right; 
		width: rem-calc(20);
		height: rem-calc(125);
	}
	ul li {
		margin-bottom: rem-calc(10);
		font-size: rem-calc(15);
	}
}

.video {
	padding: rem-calc(80) 0; 
	iframe {
		width: 100%;
	}
	h4 {
		font-weight: bold;
		@include breakpoint(small only) {
			text-align: left;
		}
		text-align: right;
	}
}

.cta {
	margin-top: rem-calc(100);	
	background-image: linear-gradient(0deg, rgba(237,237,237,0.00) 90%, rgba(216,216,216,0.20) 100%);
	.icon {
		text-align: center;
		margin-top: rem-calc(40);
	}
	.medium-up-2 {
		@include breakpoint(small only) {
			text-align: center;	
		}
		margin-bottom: 0.5rem;
	}
	i {
		font-size: rem-calc(36);
		color: #D50032;
		margin-bottom: rem-calc(25);
	}
	h4 {
		font-weight: bold;
		text-align: center;
		margin-bottom: rem-calc(30);
	}
	p {
		text-align: center;
		margin-bottom: rem-calc(40);
	}
	a {
		font-weight: bold;
		color: #9B9B9B;
		margin-bottom: rem-calc(15);
		display: block;
		-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		&:hover {
			opacity: 0.7;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
	}
	.border {
		border-left: 1px solid #D8D8D8;
		background-image:    url(../img/global/map.png);
	    background-size:     cover;          
	    background-repeat:   no-repeat;
	    background-position: right top;  
	}
	&.search {
		.icon {
			margin-top: rem-calc(80);
		}
		padding-bottom: rem-calc(70);
		.border {
				background-image: none!important;
		}
		.button {
			color: #FFFFFF;
			i {
				color: #FFFFFF;
				margin-bottom: 0;
			}
			@include breakpoint(small only) {
				margin-bottom: rem-calc(40);
			}
		}
	}
}
