<div class="connect wow fadeIn">
	<div class="row align-middle text-center">
		<div class="small-12 columns">
			<h4 class="wow fadeIn">CONNECT WITH LDI</h4>
			<a class="wow fadeIn" href="https://www.facebook.com/LDICareers/?ref=br_rs" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
			<a class="wow fadeIn" href="https://twitter.com/ldi_careers" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
			<a class="wow fadeIn" href="https://www.youtube.com/channel/UCImymBJJiksptehuuGWh1tQ" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
			<a class="wow fadeIn" href="https://www.linkedin.com/groups/4350929/profile" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
		</div>
	</div>
</div>	

<footer class="wow fadeIn">
	<div class="row align-middle">
		<div class="show-for-medium medium-2 columns">
			<a href="index.php"><img src="{{root}}assets/img/global/logo-red.png" alt="LDI Logo"></a>
		</div>
		<div class="small-12 medium-6 columns">
			<a href="search.php">SEARCH JOBS</a>
			<a href="companies.php">OUR FAMILY OF COMPANIES</a>
			<a href="index.php#benefits">BENEFITS</a>
		</div>
		<div class="small-12 medium-4 columns">
			<p>PRIVACY POLICY | ©LIBERTY DIVERSIFIED INTERNATIONAL</p>
		</div>
	</div>
</footer>

<a id="up-trigger" href="#top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a> 