<header class="wow fadeIn" data-wow-delay="0.5s" id="top">
	<div class="row align-middle">
		<div class="small-12 medium-2 columns">
			<a href="index.php"><img src="{{root}}assets/img/global/logo.png"></a>
			<a href="search.php" class="search-cta">SEARCH JOBS</a>
		</div>
		<div class="small-12 medium-10 columns">
			<nav>
				<a href="search.php"><span></span><div class="inner">SEARCH JOBS <i class="fa fa-search" aria-hidden="true"></i></div></a>
				<a href="companies.php" id="about"><span></span><div class="inner"><div class="show-for-small-only" style="display: inline;">COMPANIES</div><div class="show-for-medium" style="display: inline;">OUR FAMILY OF COMPANIES</div></div></a>
				<a href="index.php#benefits" id="ben"><span></span><div class="inner">BENEFITS</div></a> 
				<div id="social">
					<a href="https://www.facebook.com/LDICareers/?ref=br_rs" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
					<a href="https://twitter.com/ldi_careers" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
					<a href="https://www.youtube.com/channel/UCImymBJJiksptehuuGWh1tQ" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
					<a href="https://www.linkedin.com/groups/4350929/profile" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
				</div>
			</nav>
		</div>
	</div>
</header>